<a href="https://colab.research.google.com/github/cltl/python-for-text-analysis/blob/colab/Chapters-colab/Chapter_07_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%capture
!wget https://github.com/cltl/python-for-text-analysis/raw/master/zips/Data.zip
!wget https://github.com/cltl/python-for-text-analysis/raw/master/zips/images.zip
!wget https://github.com/cltl/python-for-text-analysis/raw/master/zips/Extra_Material.zip

!unzip Data.zip -d ../
!unzip images.zip -d ./
!unzip Extra_Material.zip -d ../

!rm Data.zip
!rm Extra_Materil.zip
!rm images.zip

# Chapter 7 - Sets
This chapter will introduce a different kind of container: **sets**. Sets are unordered lists with no duplicate entries. You might wonder why we need different types of containers. We will postpone that discussion until chapter 8.

**At the end of this chapter, you will be able to:**
* create a set
* add items to a set
* extract/inspect items in a set

**If you want to learn more about these topics, you might find the following links useful:**
* [Python documentation](https://docs.python.org/3/tutorial/datastructures.html#sets)
* [A tutorial on sets](https://www.learnpython.org/en/Sets)

If you have **questions** about this chapter, please contact us **(cltl.python.course@gmail.com)**.

## 1. How to create a set
It's quite simple to create a set.

In [2]:
a_set = {1, 2, 3}
a_set

{1, 2, 3}

In [3]:
empty_set = set() # you have to use set() to create an empty set! (we will see why later)
print(empty_set)

set()

* Curly brackets surround sets, and commas separate the elements in the set
* A set can be empty (use set() to create it)
* Sets do not allow **duplicates**
* sets are unordered (the order in which you add items is not important)
* A set can **only contain immutable objects** (for now that means only **strings** and **integers** can be added)
* A set can not contain **mutable objects**, hence no lists or sets

Please note that sets do not allow **duplicates**. In the example below, the integer **1** will only be present once in the set.

In [4]:
a_set = {1, 2, 1, 1}
print(a_set)

{1, 2}

Please note that sets are **unordered**. This means that it can occur that if you print a set, it looks different than how you created it

In [5]:
a_set = {1, 3, 2}
print(a_set)

{1, 2, 3}

This also means that you can check if two sets are the same even if you don't know the order in which items were put in:

In [6]:
{1, 2, 3} == {2, 3, 1}

True

Please note that sets can **only contain immutable objects**. Hence the following examples will work, since we are adding immutable objects

In [7]:
a_set = {1, 'a'}
print(a_set)

{1, 'a'}

But the following example will result in an error, since we are trying to create a set with a **mutable object**

In [8]:
a_set = {1, []}

TypeError: ignored

## 2. How to add items to a set
The most common way of adding an item to a set is by using the **add** method. The **add** method has one positional parameter, namely what you are going to add to the set, and it returns None.

In [9]:
a_set = set()
a_set.add(1)
print(a_set)

{1}

In [10]:
a_set = set()
a_set = a_set.add(1)
print(a_set)

None

## 3. How to extract/inspect items in a set

When you use sets, you usually want to **compare the elements of different sets**, for instance, to determine how much overlap there is or how many of the items in set1 are not members of set2. Sets can be used to carry out mathematical set operations like **union**, **intersection**, **difference**, and **symmetric difference**. Please take a look at [this website](https://www.programiz.com/python-programming/set) if you prefer a more visual and more complete explanation.

You can ask Python to show you all the set methods by using **dir**. All the methods that do not start with '__' are relevant for you.

In [11]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

You observe that there are many methods defined for sets! Here we explain the two most common methods. We start with the **union** method.

In [12]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

Python shows dots (...) for the parameters of the **union** method. Based on the docstring, we learn that we can provide any number of sets, and Python will return the union of them.

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

the_union = set1.union(set2)
print(the_union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = {5, 6, 7, 8, 9}

the_union = set1.union(set2, set3)
print(the_union)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

The **intersection** method has works in a similar manner as the **union** method, but returns a new set containing only the intersection of the sets.

In [15]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [16]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
the_intersection = set1.intersection(set2)
print(the_intersection)

{4, 5}

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = {5, 8, 9, 10}
the_intersection = set1.intersection(set2, set3)
print(the_intersection)

{5}

Since sets are **unordered**, you can **not** use an index to extract an element from a set.

In [18]:
a_set = set()
a_set.add(1)
a_set.add(2)
a_set[0]

TypeError: ignored

## 4. Using built-in functions on sets
The same range of **functions that operate on lists** also work with sets. We can easily get some simple calculations done with these functions:

In [19]:
nums = {3, 41, 12, 9, 74, 15}
print(len(nums)) # number of items in a set
print(max(nums)) # highest value in a set
print(min(nums)) # lowest value in a set
print(sum(nums)) # sum of all values in a set

6
74
3
154

## 5. An overview of set operations
There are many more operations which we can perform on sets. Here is an overview of some of them.
In order to get used to them, please call the **help** function on each of them (e.g., help(set.union)). This will give you the information about the positional parameters, keyword parameters, and what is returned by the method.

In [20]:
set_a = {1, 2, 3}
set_b = {4, 5, 6}
an_element = 4


print(set_a)

#do some operations 
set_a.add(an_element)  # Add an_element to set_a
print(set_a)
set_a.update(set_b)     # Add the elements of set_b to set_a
print(set_a)
set_a.pop()         # Remove and return an arbitrary set element. How does this compare to the list method pop?
print(set_a)
set_a.remove(an_element)     # Remove an_element from set_a
print(set_a)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}
{2, 3, 5, 6}

Before diving into some exercises, you may want to the **dir** built-in function again to see an overview of all set methods:

In [21]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

## Exercises

**Exercise 1:**

Please create an empty set and use the **add** method to add four items to it: 'a', 'set', 'is', 'born'

**Exercise 2:**

Please use a built-in method to **count** how many items your set has

**Exercise 3:**

How would you **remove** one item from the set?

**Exercise 4:**

Please check which items are in both sets:

In [22]:
set_1 = {'just', 'some', 'words'}
set_2 = {'some', 'other', 'words'}
# your code here